//
   Created with JetBrains WebStorm.
   User: dorgarbash
   Date: 1/9/13
   Time: 2:58 PM
   To change this template use File | Settings | File Templates.
div.span23.offset1
  a(href='https://github.com/liadMagen/KnowNodes')
    img#github(src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png", alt='Fork me on GitHub')

  div#logo
    a(href='/')
      img#logo(src="img/KnownodesLogo.jpg")
  span.login
    a(href='/login', title="sign in to knownodes") Login
  span.info
    a(href='/about') About
    span &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    a(href='/contact') Contact us
  include select